* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.todo-box {
    min-height: 236px;
    padding: 0 22px;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.todo-box .header {
    position: absolute;
    content: "";
    width: 100%;
    height: 28px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #ffdc40;
}

h1 {
    text-align: center;
    margin: 41px 0 42px;
    height: 34px;
    font-weight: 900;
}

.sort {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}

.sort i {
    cursor: pointer;
    font-size: 1.5rem;
    color: #c4c4c4;
}

.sort i:hover {
    color: black;
}

.input-area {
    display: flex;
    justify-content: center;
    position: relative;
    width: 286px;
}

.input-area .ri-close-line {
    cursor: pointer;
    position: absolute;
    right: 18px;
    top: 50%;
    border: 1px solid #c4c4c4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c4c4c4;
    transform: translateY(-50%);
    transition: 0.4s;
}

.input-area .ri-close-line:hover {
    color: white;
    border-color: #663399;
    background-color: #663399;
}

.input-area input {
    font-family: "Roboto", sans-serif;
    width: 260px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    outline-color: #c4c4c4;
    padding: 0 40px 0 20px;
}


button {
    margin-top: 20px;
    margin-bottom: 27px;
    width: 150px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #833ae0;
    position: relative;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.4s;
}

button i {
    position: absolute;
    left: 0;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #9953f1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 400;
}

button p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

button:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.notes {
    overflow-y: auto;
    width: 286px;
    max-height: 200px;
    border-radius: 5px;
    border: 1px solid transparent;
    margin-top: 20px;
}

.notes .note-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    padding: 10px;
}

.notes .note-item .ri-close-line {
    cursor: pointer;
    border: 1px solid #c4c4c4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c4c4c4;
    transition: 0.4s;
}

.notes .note-item .ri-close-line:hover {
    color: white;
    border-color: rebeccapurple;
    background-color: rebeccapurple;
}

.notes .note-item p {
    width: 200px;
    min-height: 20px;
    display: flex;
    align-items: center;
    word-break: break-all;
    font-size: 14px;
    font-weight: 400;
}